*{
    margin: 0;
    padding: 0;
}

.cabecera{
    padding: 25px;
    text-align: center;
    background: rgba(0, 0, 0, 0.507);

}
body{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
}



.grid-container {
    display: grid;
    grid-template-columns:  50% 40% 10%;
   /*  grid-template-rows: 50px 200px 200px 100px; */
   margin-top: 3%;
    
  }
.formulario {
    background-color: gray;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    text-align: center;
    color: white;    
}

.uno{
    width: 30%;
    padding: 8px 10px;
    margin: 8px 0;
    border-radius: 4px;
}
.dos{
    width: 61%;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 4px;
}
button{
    padding: 5px;
    margin: 10px;
    width: 30%;
    background: rgb(59, 73, 37);
    color: aliceblue;
    
}
.grid-container >.formulario > p{
    margin-top: 15px;
}
p{
    font-weight: bold;
}
